<div class="container">
<h2>{{ item.name }}</h2>
<div class="product-item">
   <img class="product_item__img" src="/images/products/{{ item.image }}" alt="{{ item.name}}" >
   {% if item.quantity_stock == 'Нет в наличии' or item.quantity_stock == 'Ожидается поставка' or item.quantity_stock == 'Под заказ' %}
      <p>{{ item.quantity_stock }}</p>
   {% else %}
      <p>Наличие:{{ item.quantity_stock }} шт.</p>
   {% endif %}
   <p>{{ item.description }}</p>

   <div class="product_item__bottom">
   <div class="product_item__price">{{ item.price }} &#8381;</div>
   {% if item.quantity_stock == 'Нет в наличии' or item.quantity_stock == 'Ожидается поставка' %}
      <p class="not-buy">Нет в наличии</p>
   {% else %}
      <a href="javascript:void(0)" class="black-button btn-buy" data-id="{{ item.id }}">В корзину</a>
   {% endif %}
</div>
</div>
</div>
<hr>


<script>
    document.addEventListener("DOMContentLoaded", event => {
        application.addListenerToBtnBuy('.btn-buy');
    });
</script>